body {
    background-color: rgb(176, 255, 212);
}

h1 {
    text-align: center;
}

a:link {
    color:rgb(16, 231, 203);
    text-decoration: none;
}

a:visited {
    color: rgb(0, 7, 100);
    text-decoration: none;
}

a:hover {color: rgb(9, 255, 0);
    text-decoration: underline;
}

article {
    width: 500px;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
}
